font-family: HK Grotesk,sans-serif;
-webkit-box-direction: normal;
margin: 0;
box-sizing: border-box;
z-index: 1;
display: inline-block;
overflow: hidden;
border: .3rem solid;
-webkit-appearance: none;
font-weight: 600;
outline: 0;
text-align: center;
text-transform: uppercase;
transition: background-color .25s cubic-bezier(.45,.05,.55,.95) 0ms,border-color .25s cubic-bezier(.45,.05,.55,.95) 0ms,box-shadow .25s cubic-bezier(.45,.05,.55,.95) 0ms,color .25s cubic-bezier(.45,.05,.55,.95) 0ms,opacity .25s cubic-bezier(.45,.05,.55,.95) 0ms;
user-select: none;
vertical-align: middle;
white-space: nowrap;
cursor: pointer;
padding: 1.5rem 2.5rem 1.3rem;
font-size: 1.6rem;
border-radius: 3.2rem;
line-height: 1;
border-color: #e44747;
background: #e44747;
color: #fff;
position: absolute;
bottom: 2rem;
left: 50%;
opacity: 0;
transform: translateX(-50%);